.table-container {
  .cell-container {
    position: relative;
  }
  .deploy-cell {
    position: absolute;
    top: 2px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    background-color: rgba(104, 211, 149, 0.5);
    border: 1px dashed rgb(80, 204, 101);
    cursor: pointer;
  }
  .one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
