.editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .layoutStyle {
    flex: auto;
    height: 0;
  }

  .layoutContent {
    height: 100%;
    overflow: auto;
    position: relative;
  }

  // .siderLeft {}

  // .siderRight {}
}
