.table-container {
  .cell-container {
    position: relative;
  }
  .deploy-cell {
    position: absolute;
    top: 2px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    border: 1px dashed rgb(47, 53, 48);
  }
}
.floor-container {
  padding: 20px 12px;
}
.floor-item {
  height: 300px;
  line-height: 300px;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid black;
  }
}
