.stage {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.content {
  position: relative;
  width: 250px;
  height: 450px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}
.water-text {
  text-wrap: nowrap;

  .input-style {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    background-color: transparent;
    border: none;
  }
  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    width: 12px;
    height: 12px;
    color: white;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: gray;
    outline: 1px dashed gray;
    cursor: pointer;
  }
}
.water-text:hover {
  outline: 1px dashed gray;
  .delete-btn {
    display: block;
  }
}
